body { 
	line-height: 1.4em;
	color: #797979;
	padding-bottom: 100px;
	margin: 0;
}








#bigJobContainer {
	font-family: Helvetica, sans-serif;
	width: 80%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 30px;
}

#header {
	background: #fafafa;
	border-bottom: 1px solid rgba(204, 204, 204, .41);
	border-top: 1px solid rgba(204, 204, 204, .41);
	width: 100%;
	padding: 50px 0;
	margin-bottom: 30px;
}

.headerText {
	font-size: 2em; 
	line-height: 1.3em;
	color: #333;
	text-align: center;
}

.subheaderItem {
	text-align: center;
	margin-top: 10px;
}

.jobCategoryHeader { font-size: 1.25em; font-style: italic; }

#widthContainer { 
	width: 95%;
	margin: 0 auto;
}








#applyNowButton {
	height: 61px;
	width: 222px;
	font-size: 1.1em;
}








/* Bit of responsive design */
@media screen and (max-width: 600px) {

	#bigJobContainer { width: 90%; }
	.headerText { font-size: 1.5em; }
	#buttonCenterDiv { text-align: center; }
}